<a href="https://colab.research.google.com/github/castrotishamae/Tisha-BSIS3/blob/main/50_Value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd

In [65]:
df = pd.read_csv('https://raw.githubusercontent.com/castrotishamae/Tisha-BSIS3/main/employee_dataset_with_missing_values.csv')

In [66]:
print("Original row count", len(df))

Original row count 50

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  50 non-null     int64
 1   Name        45 non-null     object
 2   Department  45 non-null     object
 3   Salary      45 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [68]:
print(df)

    EmployeeID    Name Department   Salary
0            1   Quinn      Sales  73733.0
1            2    Liam      Sales  30690.0
2            3     Ian         IT  74025.0
3            4  Sophia         IT  57736.0
4            5  Xander         HR  55620.0
5            6     NaN    Finance  72981.0
6            7  Ursula         IT  41985.0
7            8    Sara  Marketing  78720.0
8            9     Ian        NaN  77549.0
9           10   Laura      Sales      NaN
10          11  George    Finance  55611.0
11          12    Mike    Finance  35153.0
12          13  George    Finance  85946.0
13          14     Tom        NaN  57007.0
14          15   Quinn  Marketing  63393.0
15          16    Gabe      Sales  76883.0
16          17  Sophia        NaN      NaN
17          18  Sophia    Finance  43608.0
18          19   Ethan      Sales  38871.0
19          20   Aaron      Sales      NaN
20          21  Sophia  Marketing  33962.0
21          22    Will         IT  81318.0
22          23     Mia         HR  71166.0
23          24  Hailey  Marketing  88793.0
24          25    Ryan      Sales  87809.0
25          26    Dana    Finance  36299.0
26          27    Liam      Sales  71857.0
27          28   Aaron         IT  44941.0
28          29   Quinn    Finance  57655.0
29          30    Yara      Sales  63990.0
30          31    Liam        NaN  40985.0
31          32    Ryan    Finance  74371.0
32          33  Victor      Sales  53745.0
33          34   Bella         HR  54762.0
34          35  Xander      Sales  33660.0
35          36    Ryan         HR  83493.0
36          37     NaN  Marketing  63843.0
37          38     NaN  Marketing  58787.0
38          39  Olivia         HR  83617.0
39          40   Aaron      Sales  53784.0
40          41   Laura    Finance  79364.0
41          42  Hannah  Marketing  62265.0
42          43     NaN      Sales  84769.0
43          44     Tom         IT  75409.0
44          45     Uma      Sales  49564.0
45          46     NaN    Finance  43140.0
46          47   Vince    Finance  40792.0
47          48   Peter    Finance      NaN
48          49   Ethan      Sales      NaN
49          50    John        NaN  44094.0

In [43]:
df["EmployeeID"] = df["EmployeeID"].fillna("Unknown")

In [44]:
df["Name"] = df["Name"].fillna("Unknown")

In [45]:
df["Salary"] = df["Salary"].fillna(df["Salary"].mean())

In [46]:
df["Department"] = df["Department"].fillna("Undefined Department")

In [52]:
df["Salary"] = df["Salary"].fillna(df["Salary"].mean())

In [53]:
pd.set_option("display.max_rows", None)
print(df)

    EmployeeID     Name            Department        Salary
0            1    Quinn                 Sales  73733.000000
1            2     Liam                 Sales  30690.000000
2            3      Ian                    IT  74025.000000
3            4   Sophia                    IT  57736.000000
4            5   Xander                    HR  55620.000000
5            6  Unknown               Finance  72981.000000
6            7   Ursula                    IT  41985.000000
7            8     Sara             Marketing  78720.000000
8            9      Ian  Undefined Department  77549.000000
9           10    Laura                 Sales  60838.777778
10          11   George               Finance  55611.000000
11          12     Mike               Finance  35153.000000
12          13   George               Finance  85946.000000
13          14      Tom  Undefined Department  57007.000000
14          15    Quinn             Marketing  63393.000000
15          16     Gabe                 Sales  76883.000000
16          17   Sophia  Undefined Department  60838.777778
17          18   Sophia               Finance  43608.000000
18          19    Ethan                 Sales  38871.000000
19          20    Aaron                 Sales  60838.777778
20          21   Sophia             Marketing  33962.000000
21          22     Will                    IT  81318.000000
22          23      Mia                    HR  71166.000000
23          24   Hailey             Marketing  88793.000000
24          25     Ryan                 Sales  87809.000000
25          26     Dana               Finance  36299.000000
26          27     Liam                 Sales  71857.000000
27          28    Aaron                    IT  44941.000000
28          29    Quinn               Finance  57655.000000
29          30     Yara                 Sales  63990.000000
30          31     Liam  Undefined Department  40985.000000
31          32     Ryan               Finance  74371.000000
32          33   Victor                 Sales  53745.000000
33          34    Bella                    HR  54762.000000
34          35   Xander                 Sales  33660.000000
35          36     Ryan                    HR  83493.000000
36          37  Unknown             Marketing  63843.000000
37          38  Unknown             Marketing  58787.000000
38          39   Olivia                    HR  83617.000000
39          40    Aaron                 Sales  53784.000000
40          41    Laura               Finance  79364.000000
41          42   Hannah             Marketing  62265.000000
42          43  Unknown                 Sales  84769.000000
43          44      Tom                    IT  75409.000000
44          45      Uma                 Sales  49564.000000
45          46  Unknown               Finance  43140.000000
46          47    Vince               Finance  40792.000000
47          48    Peter               Finance  60838.777778
48          49    Ethan                 Sales  60838.777778
49          50     John  Undefined Department  44094.000000

In [54]:
print("Before removing duplicates:")

Before removing duplicates:

In [55]:
df = df.drop_duplicates()

In [56]:
print("\nAfter removing duplicates:")
print(df)

After removing duplicates:
    EmployeeID     Name            Department        Salary
0            1    Quinn                 Sales  73733.000000
1            2     Liam                 Sales  30690.000000
2            3      Ian                    IT  74025.000000
3            4   Sophia                    IT  57736.000000
4            5   Xander                    HR  55620.000000
5            6  Unknown               Finance  72981.000000
6            7   Ursula                    IT  41985.000000
7            8     Sara             Marketing  78720.000000
8            9      Ian  Undefined Department  77549.000000
9           10    Laura                 Sales  60838.777778
10          11   George               Finance  55611.000000
11          12     Mike               Finance  35153.000000
12          13   George               Finance  85946.000000
13          14      Tom  Undefined Department  57007.000000
14          15    Quinn             Marketing  63393.000000
15          16     Gabe                 Sales  76883.000000
16          17   Sophia  Undefined Department  60838.777778
17          18   Sophia               Finance  43608.000000
18          19    Ethan                 Sales  38871.000000
19          20    Aaron                 Sales  60838.777778
20          21   Sophia             Marketing  33962.000000
21          22     Will                    IT  81318.000000
22          23      Mia                    HR  71166.000000
23          24   Hailey             Marketing  88793.000000
24          25     Ryan                 Sales  87809.000000
25          26     Dana               Finance  36299.000000
26          27     Liam                 Sales  71857.000000
27          28    Aaron                    IT  44941.000000
28          29    Quinn               Finance  57655.000000
29          30     Yara                 Sales  63990.000000
30          31     Liam  Undefined Department  40985.000000
31          32     Ryan               Finance  74371.000000
32          33   Victor                 Sales  53745.000000
33          34    Bella                    HR  54762.000000
34          35   Xander                 Sales  33660.000000
35          36     Ryan                    HR  83493.000000
36          37  Unknown             Marketing  63843.000000
37          38  Unknown             Marketing  58787.000000
38          39   Olivia                    HR  83617.000000
39          40    Aaron                 Sales  53784.000000
40          41    Laura               Finance  79364.000000
41          42   Hannah             Marketing  62265.000000
42          43  Unknown                 Sales  84769.000000
43          44      Tom                    IT  75409.000000
44          45      Uma                 Sales  49564.000000
45          46  Unknown               Finance  43140.000000
46          47    Vince               Finance  40792.000000
47          48    Peter               Finance  60838.777778
48          49    Ethan                 Sales  60838.777778
49          50     John  Undefined Department  44094.000000

In [58]:
df = df[df['EmployeeID'] != 'Unknown']

In [60]:
df = df[df['Name'] != 'Unknown']

In [62]:
df = df.dropna(subset=['Salary', 'Department', 'Salary'])

In [63]:
print("\nAfter cleaning:")
print(df)

After cleaning:
    EmployeeID    Name            Department        Salary
0            1   Quinn                 Sales  73733.000000
1            2    Liam                 Sales  30690.000000
2            3     Ian                    IT  74025.000000
3            4  Sophia                    IT  57736.000000
4            5  Xander                    HR  55620.000000
6            7  Ursula                    IT  41985.000000
7            8    Sara             Marketing  78720.000000
8            9     Ian  Undefined Department  77549.000000
9           10   Laura                 Sales  60838.777778
10          11  George               Finance  55611.000000
11          12    Mike               Finance  35153.000000
12          13  George               Finance  85946.000000
13          14     Tom  Undefined Department  57007.000000
14          15   Quinn             Marketing  63393.000000
15          16    Gabe                 Sales  76883.000000
16          17  Sophia  Undefined Department  60838.777778
17          18  Sophia               Finance  43608.000000
18          19   Ethan                 Sales  38871.000000
19          20   Aaron                 Sales  60838.777778
20          21  Sophia             Marketing  33962.000000
21          22    Will                    IT  81318.000000
22          23     Mia                    HR  71166.000000
23          24  Hailey             Marketing  88793.000000
24          25    Ryan                 Sales  87809.000000
25          26    Dana               Finance  36299.000000
26          27    Liam                 Sales  71857.000000
27          28   Aaron                    IT  44941.000000
28          29   Quinn               Finance  57655.000000
29          30    Yara                 Sales  63990.000000
30          31    Liam  Undefined Department  40985.000000
31          32    Ryan               Finance  74371.000000
32          33  Victor                 Sales  53745.000000
33          34   Bella                    HR  54762.000000
34          35  Xander                 Sales  33660.000000
35          36    Ryan                    HR  83493.000000
38          39  Olivia                    HR  83617.000000
39          40   Aaron                 Sales  53784.000000
40          41   Laura               Finance  79364.000000
41          42  Hannah             Marketing  62265.000000
43          44     Tom                    IT  75409.000000
44          45     Uma                 Sales  49564.000000
46          47   Vince               Finance  40792.000000
47          48   Peter               Finance  60838.777778
48          49   Ethan                 Sales  60838.777778
49          50    John  Undefined Department  44094.000000